
/* 全体 */
html {
	height: 100%;
}
ul {
	list-style-type: none;
}
body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}
header {
	background-color: rgb(21, 32, 43);
	width: 650px;
	height: 100%;
	/* height: 80px; */
}
main {
	background-color: rgb(21, 32, 43);
	width: 650px;
	height: 100%;
	
}
aside {
	/*background-color: blue;*/
	background-color: rgb(21, 32, 43);
	height: 100%;
	width: 35%;
}
nav {
	/*background-color: green; */
	background-color: rgb(21, 32, 43);
	height: 100%;
	order: -1;
	width: 25%;
}
.screen {
	display: flex;
	height: 100%;
	background-color: rgb(21, 32, 43);
}
.box {
	display: flex;
	flex-direction: column;
	height: 100%;
}
/* header */
header {
	border: 1px solid lightgray;
	z-index: 100;

}
.home {      
	color: white;
	font-size: 25px;
}

/* main */

.tweet-main-right a {
	display: block;
	background-color:  #00bfff;
	line-height: 40px;
	width: 100px;
	text-align: center;
	border-radius: 30px;
	color: white;
	font-size: 16px;
	padding-bottom: 3px;
	margin-left: 470px;
}
.tweet-main-right p {
	color: white;
	height: 70px;
	padding-top: 15px;
}
.main-content {
	width: 100%;
	height: 100%;
}
.display {
	background-color: rgb(21, 32, 43);
	 width: 100%;
	 height: 100%;
}
.display2 {
	width: 100%;
	 height: 550px; 
	 overflow: scroll;
}
/* tweet */
.tweet {
	background-color: gray;
	height: 180px;
	display: flex;
	justify-content: center;
}
.tweet-main-box {
	display: flex;
	width: 100%;
	background-color: rgb(21, 32, 43);
	border: 1px solid lightgray;
}
.tweet-main-left {
	width: 60px;
	padding-left: 5px;
	padding-top: 5px;
}
.tweet-main-left img {
	border-radius: 50%;
}
.tweet-main-right {
	width: 100%;
}
.main-form {
	height: 100%;
	width: 100%;
	padding-right: 5px;
	padding-top: 5px;
}
.main-form textarea {
	width: 100%;
	height: 60%;
}

.main-form input {
	margin-left: 85%;
}
/* card */
.card {
	width: 100%;
  height: 200px;
	display: flex;
	justify-content: center;
}
.card-content {
	display: flex;
	
}
.card-contents-name {
	display: flex;
	justify-content: space-between;
}
.card-contents-name p {
	font-size: 16px;
}
.card-content-left {
	width: 60px;
	padding-left: 5px;
	padding-top: 5px;
}
.card-contents {
	padding-left: 5px;
	padding-right: 30px;
	width: 100%;
}
.heart {
	display: inline-block;
}
.heart2 {
	display: none;
}
.card-contents-tweet {
	width: 100%;
	overflow-wrap: break-word;
}
.card-content-img {
	background-image: url();
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	height: 50px;
	width: 50px;
}
.card-content-left img {
	border-radius: 50%;
}

.reply-box {
	display: none;
	width: 100%;
	height: 100px;
	overflow: scroll;
}

/* nav */
nav ul {
	padding-top: 50px;
}
.fa-home {
	display: inline-block;
}
.nav-font {
	display: inline-block;
	padding-left: 20px;
	font-size: 25px;
}
.tweet-btn {
	display: block;
	background-color: #00bfff;
	line-height: 50px;
	width: 220px;
	text-align: center;
	border-radius: 30px;
	color: white;
}
.profile-img {
	display: inline-block;
	background-image: url();
	background-size: contain;
	background-repeat: no-repeat;
	height: 40px;
	width: 40px;
	border-radius: 50%;
}
/* modal */
.tweet-modal {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	background-color:rgba(0,0,0,0.75);
}
.logout-modal {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	background-color:rgba(0,0,0,0.75);
}
.logout-content {
	background-color: lightgray;
	border-radius: 10px;
	height: 150px;
	width: 250px;
	position: absolute;
	top: 15%;
	left: 35%;
	z-index: 1000;
}
.tweet-content {
	background-color: lightgray;
	border-radius: 10px;
	height: 250px;
	width: 450px;
	position: absolute;
	top: 15%;
	left: 35%;
	z-index: 1000;
}
.tweet-contents-img {
	background-image: url(image/profile/<?php echo $url; ?>);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

.tweet-modal-close {
	border-bottom: 1px solid gray;
}
.fa-times {
	font-size: 25px;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}
/*  
.logout-contents {
	height: 100%;
	width: 100%;
	display: flex;

}

*/
.tweet-contents {
	height: 100%;
	width: 100%;
	display: flex;

}
.tweet-contents-left {
	width: 60px;
	padding: 5px;
}

.form {
	height: 100%;
	width: 100%;
	padding-right: 5px;
}
.form textarea {
	width: 100%;
	height: 60%;
}
.form input {
	margin-left: 300px;
}
.rewtweet_p {
	display: none;
}
/* aside */

.user-modal {
	background-color: gray;
	border-radius: 5%;;
	height: 350px;
	width: 75%;
	margin-left: 10%;
	margin-top: 10%;

}
.user-modal-top {
	padding-top: 5px;
	padding-left: 5px;
	border-bottom: 1px solid lightgray;
}
.user-modal-middle {
	overflow-x: scroll;
	height: 300px;
}
.user-modal-content {
	display: flex;
	height: 71px;
	border-bottom: 1px solid lightgray;
	padding: 10px 0;


}
.user-modal-content-left {
	width: 60px;
	padding: 5px;
}

.user-modal-content-right {
	margin-left: 85px;
	padding-top: 10px;
}
.user-follow-btn {
	display: block;
	background-color: #00bfff;
	line-height: 30px;
	width: 120px;
	text-align: center;
	border-radius: 30px;
	color: white;
}
.user-modal-bottom {
	padding-left: 10px;
	padding-top: 15px;
}
@media screen and (max-width:500px) {
	body {
		margin: 0;
		height: 100%;
		overflow: visible;
	}
.screen {
	display: flex;
	flex-direction: column-reverse;
	height: 100%;
	width: 100%;
	background-color: rgb(21, 32, 43);
}
header {
	background-color: rgb(21, 32, 43);
	width: 100%;
	height: 100%;
	/* height: 80px; */
}
main {
	background-color: rgb(21, 32, 43);
	width: 100%;
	height: 100%;
	
}
aside {
	/*background-color: blue;*/
	background-color: rgb(21, 32, 43);
	height: 100%;
	width: 100%;
	order: -1;
}
nav {
	/*background-color: green; */
	background-color: rgb(21, 32, 43);
	height: 100%;
	order: 1;
	width: 100%;
}
.box {
	display: block;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
.user-modal {
	background-color: gray;
	border-radius: 5%;;
	height: 350px;
	width: 100%;
	margin-left: 0%;
	margin-top: 0%;

}
nav ul {
	padding-top: 50px;
	width: 100%;
	padding-bottom: 30px;
}
.main-form input {
	margin-left: 45%;
	margin-bottom: 10px;
	
}
.submit {
	margin-left: 80% !important;
	color: white !important;
}
.tweet-main-right a {
	display: block;
	background-color:  #00bfff;
	line-height: 40px;
	width: 100px;
	text-align: center;
	border-radius: 30px;
	color: white;
	font-size: 16px;
	padding-bottom: 3px;
	margin-left: 0px;
}
.tweet-main-right p {
	margin-bottom: 10px !important;
	font-size: 15.5px;
	height: 100px;
	padding-top: 10px;
}
.tweet {
	background-color: gray;
	height: 210px;
	display: flex;
	justify-content: center;
}
}